.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ccd5ae;
  /* font-family:; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0b3a11;
}

.App-header button {
  padding: 5px;
  background-color: transparent;
  color: #0b3a11;
  cursor: pointer;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
